<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Sunmas Technologies | Leading Waste Water Treatment Company</title>
   <meta name="description"
      content="Welcome to Sunmas Technologies, your leading waste water recycling company. We are dedicated to sustainable solutions, offering state-of-the-art waste water recycling treatment services. Join us in conserving the environment and ensuring a cleaner future.">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

   <!-- CSS here -->
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/animate.css">
   <link rel="stylesheet" href="assets/css/swiper-bundle.css">
   <link rel="stylesheet" href="assets/css/slick.css">
   <link rel="stylesheet" href="assets/css/aos.css">
   <link rel="stylesheet" href="assets/css/magnific-popup.css">
   <link rel="stylesheet" href="assets/css/font-awesome-pro.css">
   <link rel="stylesheet" href="assets/css/flaticon.css">
   <link rel="stylesheet" href="assets/css/spacing.css">
   <link rel="stylesheet" href="assets/css/nice-select.css">
   <link rel="stylesheet" href="assets/css/meanmenu.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet">
   <link href="https://fonts.cdnfonts.com/css/stella-nova" rel="stylesheet">
   <link href="https://fonts.cdnfonts.com/css/lite-on" rel="stylesheet">

</head>

<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

   <!-- Scroll-top -->
   <button class="scroll-top scroll-to-target" data-target="html">
      <i class="fas fa-angle-up"></i>
   </button>
   <!-- Scroll-top-end-->

   <!-- preloader -->
   <div id="preloadertp">
      <img src="assets/img/preloader.png" alt="">
   </div>
   <!-- preloader end  -->

   <!-- header-area -->
   <header class="d-none d-xl-block">
      <div class="header__area tp-home-one" id="header-sticky">
         <div class="container-fluid">
            <div class="row align-items-center">
               <div class="col-xxl-2 col-lg-3">
                  <div class="logo">
                     <a href="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
                  </div>
               </div>
               <div class="col-xxl-7 col-lg-6">
                  <div class="main-menu">
                     <nav id="mobile-menu">
                        <ul>
                           <li><a class="active" href="/">Home</a></li>
                           <li><a href="about">About Us</a></li>
                           <li class="has-dropdown"><a href="about.html">Services</a>
                              <ul class="sub-menu">
                                 <li><a href="sewage Treatment.html">Sewage Treatment</a></li>
                                 <li><a href="faq.html">FAQ's</a></li>
                              </ul>
                           </li>
                           <li class="has-dropdown"><a href="blog.html">Blog</a>
                              <ul class="sub-menu">
                                 <li><a href="blog.html">Blog</a></li>
                                 <li><a href="blog-details.html">Blog Details</a></li>
                              </ul>
                           </li>
                           <li><a href="research.html">Career</a></li>

                           <li><a href="contact.html">Contact</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xxl-3 col-lg-3 d-flex align-items-center justify-content-end">
                  <div class="tp-bt-btn-banner">
                     <a class="tp-bt-btn" href="tel:123456">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="2" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="17" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="12" r="2" fill="#0E63FF" />
                        </svg><span>Help Desk :</span>+91 11111 11111
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- header-area-end -->

   <!-- tp-mobile-header-area start -->
   <div id="header-mob-sticky" class="tp-mobile-header-area pt-15 pb-15 d-xl-none">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-md-4 col-10">
               <div class="tp-mob-logo">
                  <a href="/"><img src="assets/img/logo/logo.png" alt="logo"></a>
               </div>
            </div>
            <div class="col-md-8 col-2">
               <div class="tp-mobile-bar d-flex align-items-center justify-content-end">
                  <div class="tp-bt-btn-banner d-none d-md-block d-xl-none mr-30">
                     <a class="tp-bt-btn" href="tel:123456">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="2" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="17" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="12" r="2" fill="#0E63FF" />
                        </svg><span>Help Desk :</span>+91 590 088 55
                     </a>
                  </div>
                  <button class="tp-menu-toggle"><i class="far fa-bars"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-mobile-header-area end -->

   <!-- sidebar-info -->
   <div class="tpsideinfo tp-side-info-area">
      <button class="tpsideinfo__close"><i class="fal fa-times"></i></button>
      <div class="tpsideinfo__logo mb-40">
         <a href="index.html"><img src="assets/img/logo/white-logo.png" alt="logo"></a>
      </div>

      <div class="mobile-menu"></div>

      <div class="tpsideinfo__content mb-60">
         <p class=" d-none d-xl-block">Our mission is to ensure the generation of accurate and precise findings.</p>
         <span>Contact Us</span>
         <a href="#"><i class="fa-solid fa-star"></i>Ta-134/A, Gulshan Badda Link </a>
         <a href="tel:61383766284"><i class="fa-solid fa-star"></i>61 383 766 284</a>
         <a href="mailto:noreply@envato.com"><i class="fa-solid fa-star"></i>noreply@envato.com</a>
      </div>
      <div class="tpsideinfo__content-inputarea mb-60 d-none d-xl-block">
         <span>Get Update</span>
         <div class="tpsideinfo__content-inputarea-input">
            <form action="#">
               <input type="email" placeholder="Enter Mail">
               <button class="tpsideinfo__content-inputarea-input-btn"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
         </div>
      </div>
      <div class="tpsideinfo__gallery mb-35 d-none d-xl-block">
         <span>Cheack Instagram Post</span>
         <div class="tpsideinfo__gallery-item">
            <a href="assets/img/blog/blog-in-01.jpg" class="popup-image"><img src="assets/img/blog/blog-in-01.jpg"
                  alt=""></a>
            <a href="assets/img/blog/blog-in-02.jpg" class="popup-image"><img src="assets/img/blog/blog-in-02.jpg"
                  alt=""></a>
            <a href="assets/img/blog/blog-in-03.jpg" class="popup-image"><img src="assets/img/blog/blog-in-03.jpg"
                  alt=""></a>
         </div>
      </div>
      <div class="tpsideinfo__socialicon">
         <a href="#"><i class="fa-brands fa-youtube"></i></a>
         <a href="#"><i class="fa-brands fa-twitter"></i></a>
         <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
         <a href="#"><i class="fa-brands fa-skype"></i></a>
      </div>
   </div>
   <!-- sidebar-info-end -->

   <div class="body-overlay"></div>
   
   </div>
   <!-- Login Box-end -->
  <!-- main-area -->
    <main>
        <div class="home-area">
            <h2>Home Page</h2>
            
            <!-- Slider Editor Area -->
            <section class="appoinment-area grey-bg mb-50 tp-box-space ml-30 mr-30" data-background="assets/img/shape/shape-bg-08.png">
                <div class="container">
                    <h3>Slider Area</h3>
                    <div class="row align-items-end mb-80">
                        <% Object.keys(sliderData).forEach((slideKey, index) => { %>
                            <div class="col-xl-4 col-lg-12 col-md-12">
                                <div class="visitor-info visitor-info-bg">
                                    <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Edit Slide <%= index + 1 %></h4>
                                    <div class="visitor-form">
                                        <form action="/admin/updateSlide/<%= slideKey %>" method="POST">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <input type="text" name="title" placeholder="Heading" value="<%= sliderData[slideKey].title %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <textarea placeholder="Body" name="content"><%= sliderData[slideKey].content %></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <button type="submit" class="tp-btn">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </section>
            <!-- Slider Editor Area End -->
    
            <!-- About Editor Area -->
            <section class="appoinment-area grey-bg mb-50 mt-100 tp-box-space ml-30 mr-30" data-background="assets/img/shape/shape-bg-08.png">
                <div class="container">
                    <h3>About Area</h3>
                    <div class="row align-items-end mb-80">
                        <div class="col-xl-4 col-lg-12 col-md-12">
                        </div>
                        <div class="col-xl-8 col-lg-12 col-md-12">
                            <div class="visitor-info visitor-info-bg">
                                <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Edit About Area</h4>
                                <div class="visitor-form">
                                    <form action="/admin/updateAbout" method="POST">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="title" placeholder="Heading" value="<%= aboutData.title %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <textarea placeholder="Body" name="content"><%= aboutData.content %></textarea>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <button type="submit" class="tp-btn">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- About Editor Area End -->
    
            <!-- Services Editor Area -->
            <section class="appoinment-area grey-bg mb-50 mt-100 tp-box-space ml-30 mr-30" data-background="assets/img/shape/shape-bg-08.png">
                <div class="container">
                    <h3>Services Area</h3>
                    <div class="row align-items-end mb-80">
                        <% Object.keys(servicesData).forEach((serviceKey, index) => { %>
                            <div class="col-xl-4 col-lg-12 col-md-12">
                                <div class="visitor-info visitor-info-bg">
                                    <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Edit Service <%= index + 1 %></h4>
                                    <div class="visitor-form">
                                        <form action="/admin/updateService/<%= serviceKey %>" method="POST">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <input type="text" name="title" placeholder="Title" value="<%= servicesData[serviceKey].title %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <textarea placeholder="Content" name="content"><%= servicesData[serviceKey].content %></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <button type="submit" class="tp-btn">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </section>
            <!-- Services Editor Area End -->
    
            <!-- Testimonial Editor Area -->
            <section class="appoinment-area grey-bg mb-50 mt-100 tp-box-space ml-30 mr-30" data-background="assets/img/shape/shape-bg-08.png">
                <div class="container">
                    <h3>Testimonial Area</h3>
                    <div class="row align-items-end mb-80">
                        <% Object.keys(testimonialData).forEach((testimonialKey, index) => { %>
                            <div class="col-xl-4 col-lg-12 col-md-12">
                                <div class="visitor-info visitor-info-bg">
                                    <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Edit Testimonial <%= index + 1 %></h4>
                                    <div class="visitor-form">
                                        <form action="/admin/updateTestimonial/<%= testimonialKey%>" method="POST">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <input type="text" name="name" placeholder="Name" value="<%= testimonialData[testimonialKey].name %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <input type="text" name="position" placeholder="Position" value="<%= testimonialData[testimonialKey].position %>">
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <textarea placeholder="Review" name="review"><%= testimonialData[testimonialKey].review %></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="visitor-form__input">
                                                        <button type="submit" class="tp-btn">Update</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </section>
            <!-- Testimonial Editor Area End -->
    
            <!-- Contact Editor Area -->
            <section class="appoinment-area grey-bg mb-50 mt-100 tp-box-space ml-30 mr-30" data-background="assets/img/shape/shape-bg-08.png">
                <div class="container">
                    <h3>Contact Area</h3>
                    <div class="row align-items-end mb-80">
                        <div class="col-xl-4 col-lg-12 col-md-12">
                        </div>
                        <div class="col-xl-8 col-lg-12 col-md-12">
                            <div class="visitor-info visitor-info-bg">
                                <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Edit Contact Area</h4>
                                <div class="visitor-form">
                                    <form action="/admin/updateContact" method="POST">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="title" placeholder="Title" value="<%= contactData.title %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="number" placeholder="Number" value="<%= contactData.number %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="website" placeholder="Website" value="<%= contactData.website %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="timing" placeholder="Timing" value="<%= contactData.timing %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <input type="text" name="days" placeholder="Days" value="<%= contactData.days %>">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="visitor-form__input">
                                                    <button type="submit" class="tp-btn">Update</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Editor Area End -->
        </div>
    </main>
    
    <!-- main-area-end -->

   <!-- footer-area -->
   <footer>
    <div class="footer-area pt-105">
       <div class="tp-footer-top pb-25">
          <div class="container">
             <div class="row">
                <div class="col-lg-4 col-md-6">
                   <div class="tp-footer-widget footer-2-col-1 mb-40 wow fadeInUp" data-wow-delay=".2s">
                      <div class="tp-footer-widget__content mb-95">
                         <i>FEEL FREE TO CONTACT US</i>
                         <h4 class="tp-footer-widget__contact mb-20"><a href="tel:61383766284">+91 99887 76655</a>
                         </h4>
                         <a href="mailto:noreply@envato.com">info@sunmasgroups.com</a>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6">
                   <div class="tp-footer-widget footer-2-col-2 mb-40 wow fadeInUp" data-wow-delay=".4s">
                      <span class="tp-footer-widget__title mb-15">Useful links</span>
                      <div class="tp-footer-widget__links mb-35">
                         <ul>
                            <li><a href="contact.html">About us</a></li>
                            <li><a href="about.html">Services</a></li>
                            <li><a href="shop-details.html">Blog</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="services-details.html">Contact Us</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-2 col-md-6">
                   <div class="tp-footer-widget footer-2-col-3 mb-40 wow fadeInUp" data-wow-delay=".6s">
                      <span class="tp-footer-widget__title mb-15">Services</span>
                      <div class="tp-footer-widget__links">
                         <ul>
                            <li><a href="#">Seawarage</a></li>
                            <li><a href="#">Industrial</a></li>
                            <li><a href="#">Municipal</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
                <div class="col-lg-3 col-md-6">
                   <div class="tp-footer-widget footer-2-col-4 mb-40 wow fadeInUp" data-wow-delay=".8s">
                      <span class="tp-footer-widget__title mb-15">Contact Info</span>
                      <div class="tp-footer-widget__links mb-120">
                         <ul>
                            <li><%= contactData.title %></li>
                            <li><a href="tel:(+880)15569569365"><%= contactData.number %></a></li>
                            <li><a href="mailto:support@rstheme.com"><%= contactData.website %></a></li>
                            <li><%= contactData.timing %></li>
                            <li><%= contactData.days %></li>
                         </ul>
                      </div>
                      <div class="tp-footer-widget__social fw-social">
                         <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                         <a href="#"><i class="fa-brands fa-twitter"></i></a>
                         <a href="#"><i class="fa-brands fa-instagram"></i></a>
                         <a href="#"><i class="fa-light fa-basketball"></i></a>
                         <a href="#"><i class="fa-brands fa-youtube"></i></a>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="footer-area-bottom fw-border">
          <div class="container">
             <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                   <div class="footer-widget__copyright copyright-white">
                      <span> © Copyright ©2023<a href="index.html"> Sunmas Technologies</a>. <i>All Rights
                            Reserved</i></span>
                   </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                   <div class="footer-widget__copyright-info info-direction">
                      <ul class="d-flex align-items-center">
                         <li><a href="#">Terms and conditions</a></li>
                         <li><a href="#">Privacy policy</a></li>
                         <li><a href="#">Quotation</a></li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </footer>
 <!-- footer-area-end -->

    <!-- JS here -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/waypoints.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/swiper-bundle.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/magnific-popup.js"></script>
    <script src="assets/js/counterup.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/isotope-pkgd.js"></script>
    <script src="assets/js/imagesloaded-pkgd.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/aos.js"></script>
    <script src="assets/js/nice-select.js"></script>
    <script src="assets/js/meanmenu.js"></script>
    <script src="assets/js/jquery.appear.js"></script>
    <script src="assets/js/jquery.knob.js"></script>
    <script src="assets/js/main.js"></script>
</body>

</html>
