<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Sunmas Technologies | Leading Waste Water Treatment Company</title>
   <meta name="description"
      content="Welcome to Sunmas Technologies, your leading waste water recycling company. We are dedicated to sustainable solutions, offering state-of-the-art waste water recycling treatment services. Join us in conserving the environment and ensuring a cleaner future.">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- Place favicon.ico in the root directory -->
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo/favicon.png">

   <!-- CSS here -->
   <link rel="stylesheet" href="assets/css/bootstrap.min.css">
   <link rel="stylesheet" href="assets/css/animate.css">
   <link rel="stylesheet" href="assets/css/swiper-bundle.css">
   <link rel="stylesheet" href="assets/css/slick.css">
   <link rel="stylesheet" href="assets/css/aos.css">
   <link rel="stylesheet" href="assets/css/magnific-popup.css">
   <link rel="stylesheet" href="assets/css/font-awesome-pro.css">
   <link rel="stylesheet" href="assets/css/flaticon.css">
   <link rel="stylesheet" href="assets/css/spacing.css">
   <link rel="stylesheet" href="assets/css/nice-select.css">
   <link rel="stylesheet" href="assets/css/meanmenu.css">
   <link rel="stylesheet" href="assets/css/style.css">
   <!-- Font -->
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet">
   <link href="https://fonts.cdnfonts.com/css/stella-nova" rel="stylesheet">
   <link href="https://fonts.cdnfonts.com/css/lite-on" rel="stylesheet">

</head>

<body>
   <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
      <![endif]-->

   <!-- Scroll-top -->
   <button class="scroll-top scroll-to-target" data-target="html">
      <i class="fas fa-angle-up"></i>
   </button>
   <!-- Scroll-top-end-->

   <!-- preloader -->
   <div id="preloadertp">
      <img src="assets/img/preloader.png" alt="">
   </div>
   <!-- preloader end  -->

   <!-- header-area -->
   <header class="d-none d-xl-block">
      <div class="header__area tp-home-one" id="header-sticky">
         <div class="container-fluid">
            <div class="row align-items-center">
               <div class="col-xxl-2 col-lg-3">
                  <div class="logo">
                     <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                  </div>
               </div>
               <div class="col-xxl-7 col-lg-6">
                  <div class="main-menu">
                     <nav id="mobile-menu">
                        <ul>
                           <li><a class="active" href="index-2.html">Home</a></li>
                           <li><a href="about">About Us</a></li>
                           <li class="has-dropdown"><a href="about.html">Services</a>
                              <ul class="sub-menu">
                                 <li><a href="sewage Treatment.html">Sewage Treatment</a></li>
                                 <li><a href="faq.html">FAQ's</a></li>
                              </ul>
                           </li>
                           <li class="has-dropdown"><a href="blog.html">Blog</a>
                              <ul class="sub-menu">
                                 <li><a href="blog.html">Blog</a></li>
                                 <li><a href="blog-details.html">Blog Details</a></li>
                              </ul>
                           </li>
                           <li><a href="research.html">Career</a></li>

                           <li><a href="contact.html">Contact</a></li>
                           <li><a id="openLoginContainer" href="/admin">Admin</a></li>
                        </ul>
                     </nav>
                  </div>
               </div>
               <div class="col-xxl-3 col-lg-3 d-flex align-items-center justify-content-end">
                  <div class="tp-bt-btn-banner">
                     <a class="tp-bt-btn" href="tel:123456">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="2" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="17" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="12" r="2" fill="#0E63FF" />
                        </svg><span>Help Desk :</span>+91 11111 11111
                     </a>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </header>
   <!-- header-area-end -->

   <!-- tp-mobile-header-area start -->
   <div id="header-mob-sticky" class="tp-mobile-header-area pt-15 pb-15 d-xl-none">
      <div class="container">
         <div class="row align-items-center">
            <div class="col-md-4 col-10">
               <div class="tp-mob-logo">
                  <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
               </div>
            </div>
            <div class="col-md-8 col-2">
               <div class="tp-mobile-bar d-flex align-items-center justify-content-end">
                  <div class="tp-bt-btn-banner d-none d-md-block d-xl-none mr-30">
                     <a class="tp-bt-btn" href="tel:123456">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <circle cx="2" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="2" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="12" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="12" r="2" fill="#0E63FF" />
                           <circle cx="7" cy="17" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="7" r="2" fill="#0E63FF" />
                           <circle cx="2" cy="12" r="2" fill="#0E63FF" />
                        </svg><span>Help Desk :</span>+91 590 088 55
                     </a>
                  </div>
                  <button class="tp-menu-toggle"><i class="far fa-bars"></i></button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- tp-mobile-header-area end -->

   <!-- sidebar-info -->
   <div class="tpsideinfo tp-side-info-area">
      <button class="tpsideinfo__close"><i class="fal fa-times"></i></button>
      <div class="tpsideinfo__logo mb-40">
         <a href="index.html"><img src="assets/img/logo/white-logo.png" alt="logo"></a>
      </div>

      <div class="mobile-menu"></div>

      <div class="tpsideinfo__content mb-60">
         <p class=" d-none d-xl-block">Our mission is to ensure the generation of accurate and precise findings.</p>
         <span>Contact Us</span>
         <a href="#"><i class="fa-solid fa-star"></i>Ta-134/A, Gulshan Badda Link </a>
         <a href="tel:61383766284"><i class="fa-solid fa-star"></i>61 383 766 284</a>
         <a href="mailto:noreply@envato.com"><i class="fa-solid fa-star"></i>noreply@envato.com</a>
      </div>
      <div class="tpsideinfo__content-inputarea mb-60 d-none d-xl-block">
         <span>Get Update</span>
         <div class="tpsideinfo__content-inputarea-input">
            <form action="#">
               <input type="email" placeholder="Enter Mail">
               <button class="tpsideinfo__content-inputarea-input-btn"><i class="fa-solid fa-paper-plane"></i></button>
            </form>
         </div>
      </div>
      <div class="tpsideinfo__gallery mb-35 d-none d-xl-block">
         <span>Cheack Instagram Post</span>
         <div class="tpsideinfo__gallery-item">
            <a href="assets/img/blog/blog-in-01.jpg" class="popup-image"><img src="assets/img/blog/blog-in-01.jpg"
                  alt=""></a>
            <a href="assets/img/blog/blog-in-02.jpg" class="popup-image"><img src="assets/img/blog/blog-in-02.jpg"
                  alt=""></a>
            <a href="assets/img/blog/blog-in-03.jpg" class="popup-image"><img src="assets/img/blog/blog-in-03.jpg"
                  alt=""></a>
         </div>
      </div>
      <div class="tpsideinfo__socialicon">
         <a href="#"><i class="fa-brands fa-youtube"></i></a>
         <a href="#"><i class="fa-brands fa-twitter"></i></a>
         <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
         <a href="#"><i class="fa-brands fa-skype"></i></a>
      </div>
   </div>
   <!-- sidebar-info-end -->

   <div class="body-overlay"></div>
   <!-- Login Box -->
   <div class="login-container" id="loginContainer">
      <div class="login-screen">
         <div class="login-screen__content">
            <form class="login" id="loginForm" action="/auth/admin" method="post">
               <div class="logo">
                  <a><img src="assets/img/logo/logo.png" alt="logo"></a>
               </div>
               <div class="login__field">
                  <i class="login__icon fas fa-user"></i>
                  <input type="text" class="login__input" placeholder="User name" name="name" id="username">
               </div>
               <div class="login__field">
                  <i class="login__icon fas fa-lock"></i>
                  <input type="password" class="login__input" placeholder="Password" name="password" id="password">
               </div>
               <button type="submit" class="button login__submit">
                  <span class="button__text">Log In Now</span>
                  <i class="button__icon fas fa-chevron-right"></i>
               </button>
            </form>
            <!-- Error container -->
            <div id="errorContainer" style="display: none;"></div>
         </div>
         <div class="login-screen__background">
            <span class="login-screen__background__shape login-screen__background__shape4"></span>
            <span class="login-screen__background__shape login-screen__background__shape3"></span>
            <span class="login-screen__background__shape login-screen__background__shape2"></span>
            <span class="login-screen__background__shape login-screen__background__shape1"></span>
         </div>
      </div>
   </div>
   <!-- Login Box-end -->
  <!-- main-area -->
   <main>

      <!-- slider-arae -->
      <section class="slider-area slider-tp-top pt-100 p-relative">
         <div class="slider-social">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6 col-md-10 d-none d-md-block">
                     <div class="slider-content__social">
                        <a class="facebook-2" href="#"><i class="fa-brands fa-linkedin-in"></i>Linkedin</a>
                        <a class="Instagram" href="#"><i class="fa-brands fa-instagram"></i>Instagram</a>
                        <a class="twitter-2" href="#"><i class="fab fa-twitter"></i>Twitter</a>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-2 col-12 d-none d-md-block">
                     <div class="slider-content__arrow d-flex align-items-center">
                        <div class="slider-p"><i class="fa-regular fa-arrow-left"></i></div>
                        <div class="slider-n"><i class="fa-regular fa-arrow-right"></i></div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="bannerscroll d-none d-xl-block">
               <div class="banner-scroll-btn">
                  <a class="bannerscroll-icon" href="#tp-about-wrapper"><i class="fa-light fa-computer-mouse"></i>
                     <span>Scroll Down</span></a>
               </div>
            </div>
         </div>
         <div class="swiper-container tp-slider slider-active">
            <div class="swiper-wrapper">
               <div class="swiper-slide bg-white">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-12 order-2 order-lg-1">
                           <div class="slider-content pt-60">
                              <h2 class="slider-content__title mb-45">
                                 <%= sliderData[0].title %>
                              </h2>
                              <p>
                                 <%= sliderData[0].content %>
                              </p>
                              <!-- <div class="slider-content__btn mb-165">
                                    <a class="tp-btn" href="contact.html">Appointment</a>
                                    <a class="tp-btn-second ml-25" href="about.html">About us</a>
                                 </div> -->
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2">
                           <div class="slider-content__bg">
                              <img src="assets/img/webp/1Header.webp" alt="slider-img">
                           </div>
                           <div class="slider-content__shape d-none d-md-block">
                              <!-- <img src="assets/img/slider/slider-bg-2.png" alt="slider-shape"> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="swiper-slide bg-white">
                  <div class="container">
                     <div class="row align-items-center">
                        <div class="col-lg-6 col-md-12 col-12 order-2 order-lg-1">
                           <div class="slider-content pt-60">
                              <h2 class="slider-content__title mb-45">
                                 <%= sliderData[1].title %>
                              </h2>
                              <p>
                                 <%= sliderData[1].content %>
                              </p>
                              <div class="slider-content__btn mb-165">
                                 <a class="tp-btn" href="contact.html">Appointment</a>
                                 <a class="tp-btn-second ml-25" href="about.html">About us</a>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 order-1 order-lg-2">
                           <div class="slider-content__bg">
                              <img src="assets/img/webp/2Header.webp" alt="slider-img">
                           </div>
                           <div class="slider-content__shape d-none d-md-block">
                              <!-- <img src="assets/img/slider/slider-bg-2.png" alt="slider-shape"> -->
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- slider-arae-end -->

      <!-- about-area -->
      <section class="about-area grey-bg pt-130 tp-box-space pb-130 ml-30 mr-30" data-background="assets/img/">
         <div class="about-wrapper">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6 col-lg-12 col-12">
                     <div class="about-thumb text-lg-center p-relative ml-85 mb-60 wow fadeInLeft" data-wow-delay=".3s">
                        <img src="assets/img/webp/aboutus-02.webp" alt="about-thumb">
                        <div class="about-video">
                           <!-- <a class="popup-video" href="https://www.youtube.com/watch?v=-BpXNPHiB2U"><i class="fa-solid fa-play"></i></a> -->
                        </div>
                        <div class="about-thumb-shape d-none d-md-block" data-wow-delay=".30s">
                           <img src="assets/img/webp/aboutus-01.webp" alt="about-shape">
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-12 col-12">
                     <div class="about-content ml-60 mb-60 wow fadeInRight" data-wow-delay=".3s">
                        <div class="tp-section">
                           <span class="tp-section__sub-title left-line mb-25">About Us</span>
                           <h3 class="tp-section__title mb-45">
                              <%= aboutData.title %>
                           </h3>
                           <i>
                              <%= aboutData.content %>
                           </i>
                        </div>
                        <div class="about-content__btn"><a href="about.html" class="tp-btn">About More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="cta-area pt-75 ">
            <div class="container">
               <div class="row wow fadeInUp" data-wow-delay=".3s">
                  <div class="col-lg-12">
                     <div class="tp-cta-bg p-relative theme-light-bg pt-65 pb-70"
                        data-background="assets/img/webp/aboutus.webp">
                        <div class="cta-content ml-90">
                           <div class="tp-section">
                              <span class="tp-section__sub-title sub-title-white left-line-white mb-20">Sunmas
                                 Technologies</span>
                           </div>
                           <h2 class="cta-title mb-30">Make a difference in your <br> water consumption</h2>
                           <div class="cta-btn">
                              <button class="tp-btn-second">Book Now</button>
                           </div>
                           <div class="cta-shape d-none d-md-block">
                              <img src="assets/img/shape/logo-shape-1.png" alt="cta-logo-shape">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- about-area-end -->

      <!-- services-area -->
      <section class="services-area pt-95 pb-90 grey-bg mt-60 fix" data-background="assets/img/shape/shape-bg-01.png">
         <div class="container">
            <div class="row mb-125">
               <div class="col-lg-12">
                  <div class="search-form">
                     <form action="#">
                        <input type="text" placeholder="What are you looking for?">
                        <button class="tp-btn search-btn" type="submit">Search Here <i class="fa-light fa-magnifying-glass ml-5"></i></button>
                     </form>
                  </div>
               </div>
            </div>
            <div class="row align-items-center">
               <div class="col-lg-8 col-md-8 col-12">
                  <div class="tp-section">
                     <span class="tp-section__sub-title left-line mb-20">our Services</span>
                     <h3 class="tp-section__title mb-50">Service Area</h3>
                  </div>
               </div>
               <div class="col-lg-4 col-md-4 col-12">
                  <div class="tp-services d-flex align-items-center">
                     <div class="services-p"><i class="fa-regular fa-arrow-left"></i></div>
                     <div class="services-n"><i class="fa-regular fa-arrow-right"></i></div>
                  </div>
               </div>
            </div>
            <div class="services-slider  wow fadeInUp" data-wow-delay=".3s">
               <div class="swiper-container service-active">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon mb-30">
                              <i class="flaticon-hemoglobin-test-meter"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[0].title %></a></h4>
                              <p><%= servicesData[0].content %></p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon pink-icon mb-30">
                              <i class="flaticon-blood-test"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[1].title %></a></h4>
                              <p><%= servicesData[1].title %></p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon green-icon mb-30">
                              <i class="flaticon-biochemistry"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[2].title %></a></h4>
                              <p><%= servicesData[2].content %></p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon sky-icon mb-30">
                              <i class="flaticon-dna-1"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[3].title %></a></h4>
                              <p><%= servicesData[3].content %></p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon green-icon mb-30">
                              <i class="flaticon-biochemistry"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[4].title %></a></h4>
                              <p><%= servicesData[4].content %></p>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="services-item mb-40">
                           <div class="services-item__icon green-icon mb-30">
                              <i class="flaticon-biochemistry"></i>
                           </div>
                           <div class="services-item__content">
                              <h4 class="services-item__tp-title mb-30"><a href="services-details.html"><%= servicesData[2].title %></a></h4>
                              <p><%= servicesData[2].content %></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- services-area-end -->      


      <!-- gallery-area -->
      <section class="gallery-area pb-50">
         <div class="gallery-bg-title theme-light-bg tp-box-space pt-125 pb-200 mr-30 ml-30"
            data-background="assets/img/shape/shape-bg-06.png">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tp-section text-center">
                        <span class="tp-section__sub-title sub-title-white left-line-white right-line-white mb-25">Work
                           Gallery</span>
                        <h3 class="tp-section__title title-white mb-80">Our Projects</h3>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="gallery-item-bg wow fadeInUp" data-wow-delay=".3s">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="gallery-item p-relative mb-30">
                        <img src="assets/img/webp/Project-1.webp" alt="gallery-thumb">
                        <div class="gallery-item__content">
                           <h4 class="gallery-item__title"><a href="portfolio-details.html">Sewage</a></h4>
                           <span><i class="fa-solid fa-tag"></i><a href="services-details.html">Water Plant</a></span>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-6 d-none d-lg-block">
                     <div class="gallery-item p-relative mb-30">
                        <img src="assets/img/webp/Project-2.webp" alt="gallery-thumb">
                        <div class="gallery-item__content">
                           <h4 class="gallery-item__title"><a href="portfolio-details.html">Industrial</a></h4>
                           <span><i class="fa-solid fa-tag"></i><a href="services-details.html">Water Plant</a></span>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="gallery-item p-relative mb-30">
                        <img src="assets/img/webp/Project-3.webp" alt="gallery-thumb">
                        <div class="gallery-item__content">
                           <h4 class="gallery-item__title"><a href="portfolio-details.html">Municipal</a></h4>
                           <span><i class="fa-solid fa-tag"></i><a href="services-details.html">Water Plant</a></span>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="gallery-item p-relative mb-30">
                        <img src="assets/img/webp/Project-4.webp" alt="gallery-thumb">
                        <div class="gallery-item__content">
                           <h4 class="gallery-item__title"><a href="portfolio-details.html">Industrial</a></h4>
                           <span><i class="fa-solid fa-tag"></i><a href="services-details.html">Water Plant</a></span>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6">
                     <div class="gallery-item p-relative mb-30">
                        <img src="assets/img/webp/Project-3.webp" alt="gallery-thumb">
                        <div class="gallery-item__content">
                           <h4 class="gallery-item__title"><a href="portfolio-details.html">Municipal</a></h4>
                           <span><i class="fa-solid fa-tag"></i><a href="services-details.html">Water Plant</a></span>
                        </div>
                     </div>
                  </div>

               </div>
               <div class="row">
                  <div class="col-lg-12">
                     <div class="gallery-btn text-center mt-30">
                        <a href="Projects.html" class="tp-btn">Explore More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- gallery-area-end -->


      <!-- testimonial-area -->
      <section class="testimonial-area testimonial-bg pt-125 pb-130" data-background="assets/img/webp/pattern-02.webp">
         <div class="container">
            <div class="row wow fadeInUp" data-wow-delay=".3s">
               <div class="col-lg-12">
                  <div class="tp-section text-center">
                     <span
                        class="tp-section__sub-title sub-title-white left-line-white right-line-white mb-25">Testimonial</span>
                     <h3 class="tp-section__title title-white mb-70">Customer Feedback</h3>
                  </div>
               </div>
            </div>
            <div class="swiper-container tp-test-active pt-40">
               <div class="swiper-wrapper">
                  <div class="swiper-slide">
                     <div class="tp-testi p-relative mb-70">
                        <div class="tp-testi__avata">
                           <img src="assets/img/icon/testi-ava-01.jpg" alt="testimonial-avata">
                        </div>
                        <div class="tp-testi__content text-center">
                           <p><%= testimonialData[0].review %></p>
                           <h5 class="tp-testi__avata-title"><%= testimonialData[0].name %></h5>
                           <span class="tp-testi__ava-position"><%= testimonialData[0].position %></span>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="tp-testi p-relative mb-70">
                        <div class="tp-testi__avata">
                           <img src="assets/img/icon/testi-ava-02.jpg" alt="testimonial-avata">
                        </div>
                        <div class="tp-testi__content text-center">
                           <p><%= testimonialData[1].review %></p>
                           <h5 class="tp-testi__avata-title"><%= testimonialData[1].name %></h5>
                           <span class="tp-testi__ava-position"><%= testimonialData[1].position %></span>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="tp-testi p-relative mb-70">
                        <div class="tp-testi__avata">
                           <img src="assets/img/icon/testi-ava-03.jpg" alt="testimonial-avata">
                        </div>
                        <div class="tp-testi__content text-center">
                           <p><%= testimonialData[2].review %></p>
                           <h5 class="tp-testi__avata-title"><%= testimonialData[2].name %></h5>
                           <span class="tp-testi__ava-position"><%= testimonialData[2].position %></span>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide">
                     <div class="tp-testi p-relative mb-70">
                        <div class="tp-testi__avata">
                           <img src="assets/img/icon/testi-ava-07.png" alt="testimonial-avata">
                        </div>
                        <div class="tp-testi__content text-center">
                           <p><%= testimonialData[3].review %></p>
                           <h5 class="tp-testi__avata-title"><%= testimonialData[3].name %></h5>
                           <span class="tp-testi__ava-position"><%= testimonialData[3].position %></span>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row text-center">
               <div class="col-lg-12">
                  <div class="tp-test-arrow d-flex align-items-center justify-content-center">
                     <div class="tp-test-prv"><i class="fa-regular fa-arrow-left"></i></div>
                     <div class="tp-test-nxt"><i class="fa-regular fa-arrow-right"></i></div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- testimonial-area-end -->








      <!-- appoinment-area -->
      <section class="appoinment-area grey-bg mb-50 tp-box-space ml-30 mr-30"
         data-background="assets/img/shape/shape-bg-08.png">
         <div class="container">
            <div class="row align-items-end">
               <div class="col-xl-4 col-lg-12 col-md-12">
                  <div class="appoint-thumb">
                     <img src="assets/img/webp/contactus.webp" alt="appoinment-img">
                  </div>
               </div>
               <div class="col-xl-8 col-lg-12 col-md-12">
                  <div class="visitor-info visitor-info-bg">
                     <h4 class="appoinment-title mb-25"><i class="fa-light fa-file-signature"></i>Book your Schedule
                     </h4>
                     <div class="visitor-form">
                        <form action="#">
                           <div class="row">
                              <div class="col-lg-6">
                                 <div class="visitor-form__input">
                                    <input type="text" placeholder="Your name">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="visitor-form__input">
                                    <input type="email" placeholder="Your mail">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="visitor-form__input">
                                    <input type="text" placeholder="Type">
                                 </div>
                              </div>
                              <div class="col-lg-6">
                                 <div class="visitor-form__input">
                                    <input type="date">
                                 </div>
                              </div>
                              <div class="col-lg-12">
                                 <div class="visitor-form__input">
                                    <textarea placeholder="Type your message" name="message"></textarea>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-12">
                                 <div class="visit-btn mt-20">
                                    <button class="tp-btn">For More</button>
                                 </div>
                              </div>
                              <!-- <div class="col-lg-8 col-md-8 col-12">
                                    <div class="visit-serial mt-45">
                                       <span>24/7 Emergency Service : <a href="tel:+88978897">+88 978 897 6545<i class="fa-regular fa-arrow-right"></i></a></span>
                                    </div>
                                 </div> -->
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- appoinment-area-end -->



      <!-- team-area -->
      <section class="team-area pb-55">
         <div class="container">
            <div class="p-relative">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="tp-section text-center">
                        <span class="tp-section__sub-title left-line right-line mb-25">Our Team</span>
                        <h3 class="tp-section__title mb-70">Our Specialist</h3>
                     </div>
                  </div>
               </div>
               <div class="swiper-container tp-team-active wow fadeInUp" data-wow-delay=".3s">
                  <div class="swiper-wrapper">
                     <div class="swiper-slide">
                        <div class="team-item mb-30">
                           <div class="team-item__thumb mb-40">
                              <img src="assets/img/team/team-thumb-05.png" alt="team-thumb">
                           </div>
                           <div class="team-item__content">
                              <h5 class="team-item__title mb-15"><a href="team-details.html">Lorem Ipsum</a></h5>
                              <span>Director</span>
                              <div class="team-item__social-info">
                                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 <a href="#"><i class="fa-light fa-basketball"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="team-item mb-30">
                           <div class="team-item__thumb mb-40">
                              <img src="assets/img/team/team-thumb-06.png" alt="team-thumb">
                           </div>
                           <div class="team-item__content">
                              <h5 class="team-item__title mb-15"><a href="team-details.html">Lorem Ipsum</a></h5>
                              <span>Operation Engineer</span>
                              <div class="team-item__social-info">
                                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 <a href="#"><i class="fa-light fa-basketball"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="team-item mb-30">
                           <div class="team-item__thumb mb-40">
                              <img src="assets/img/team/team-thumb-07.png" alt="team-thumb">
                           </div>
                           <div class="team-item__content">
                              <h5 class="team-item__title mb-15"><a href="team-details.html">Lorem Ipsum</a></h5>
                              <span>Senior Engineer</span>
                              <div class="team-item__social-info">
                                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 <a href="#"><i class="fa-light fa-basketball"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="swiper-slide">
                        <div class="team-item mb-30">
                           <div class="team-item__thumb mb-40">
                              <img src="assets/img/team/team-thumb-08.png" alt="team-thumb">
                           </div>
                           <div class="team-item__content">
                              <h5 class="team-item__title mb-15"><a href="team-details.html">Lorem Ipsum</a></h5>
                              <span>Managing Director</span>
                              <div class="team-item__social-info">
                                 <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                                 <a href="#"><i class="fa-brands fa-twitter"></i></a>
                                 <a href="#"><i class="fa-brands fa-instagram"></i></a>
                                 <a href="#"><i class="fa-light fa-basketball"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="team-arrow">
                  <div class="team-prv"><i class="fa-regular fa-arrow-left"></i></div>
                  <div class="team-nxt"><i class="fa-regular fa-arrow-right"></i></div>
               </div>
            </div>
         </div>
      </section>
      <!-- team-area-end -->


      <!-- blog-area -->
      <section class="blog-area pt-125 pb-120">
         <div class="container  wow fadeInUp" data-wow-delay=".3s">
            <div class="row align-items-center">
               <div class="col-md-8 col-12">
                  <div class="tp-section">
                     <span class="tp-section__sub-title left-line mb-25">Waht’s New</span>
                     <h3 class="tp-section__title mb-65">Blog & Article</h3>
                  </div>
               </div>
               <div class="col-md-4 col-12">
                  <div class="blog-arrow d-flex align-items-center">
                     <div class="blog-prv"><i class="fa-regular fa-arrow-left"></i></div>
                     <div class="blog-nxt"><i class="fa-regular fa-arrow-right"></i></div>
                  </div>
               </div>
            </div>
            <div class="swiper-container blog-active">
               <div class="swiper-wrapper">
                  <div class="swiper-slide pb-50">
                     <div class="blog-item">
                        <div class="blog-item__thumb fix">
                           <img src="assets/img/blog/blog-thumb-04.jpg" alt="blog-thumb">
                        </div>
                        <div class="blog-item__content">
                           <h5 class="blog-item__title mb-15"><a href="blog-details.html">Your Trusted Source for Water
                                 Treatment Solutions</a></h5>
                           <p>Nam eget dui vel quam sodales semper quis porttitor tortor. Vivamus quis ex nulla ...</p>
                           <div class="blog-item__date-info">
                              <ul class="d-flex align-items-center">
                                 <li><i class="fa-light fa-clock"></i>Dec 28, 2022</li>
                                 <li><i class="fa-light fa-eye"></i>1,526 views</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide pb-50">
                     <div class="blog-item">
                        <div class="blog-item__thumb fix">
                           <img src="assets/img/blog/blog-thumb-05.jpg" alt="blog-thumb">
                        </div>
                        <div class="blog-item__content">
                           <h5 class="blog-item__title mb-15"><a href="blog-details.html"></a>Your Trusted Source for
                              Water Treatment Solutions</h5>
                           <p>Nam eget dui vel quam sodales semper quis porttitor tortor. Vivamus quis ex nulla ...</p>
                           <div class="blog-item__date-info">
                              <ul class="d-flex align-items-center">
                                 <li><i class="fa-light fa-clock"></i>Dec 28, 2022</li>
                                 <li><i class="fa-light fa-eye"></i>1,526 views</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="swiper-slide pb-50">
                     <div class="blog-item">
                        <div class="blog-item__thumb fix">
                           <img src="assets/img/blog/blog-thumb-06.jpg" alt="blog-thumb">
                        </div>
                        <div class="blog-item__content">
                           <h5 class="blog-item__title mb-15"><a href="blog-details.html">Your Trusted Source for Water
                                 Treatment Solutions</a></h5>
                           <p>Nam eget dui vel quam sodales semper quis porttitor tortor. Vivamus quis ex nulla ...</p>
                           <div class="blog-item__date-info">
                              <ul class="d-flex align-items-center">
                                 <li><i class="fa-light fa-clock"></i>Dec 28, 2022</li>
                                 <li><i class="fa-light fa-eye"></i>1,526 views</li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="blog-link text-center">
                     <span>Join our Community for Get Update : <a href="blog-details.html">JOin our Community <i
                              class="fa-regular fa-arrow-right"></i></a></span>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- blog-area-end -->

      <!-- news-letter-area -->
      <section
         class="news-letter-area pt-110 pb-110 news-round-shape p-relative tp-box-space mr-30 ml-30 theme-light-bg fix"
         data-background="assets/img/shape/shape-bg-05.png">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-xl-6 col-lg-8 col-md-10 col-12">
                  <div class="newsletter-content text-center">
                     <h3 class="newsletter-title mb-15">Newsletter</h3>
                     <span>#Subscribe newsletter for get every update</span>
                     <div class="newsletter-form p-relative ml-10 mr-10">
                        <form action="#">
                           <input type="email" placeholder="info.yourwebmail@gmail.com">
                           <button class="newsletter-btn">Subscribe<i class="fa-solid fa-paper-plane"></i></button>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- news-letter-area-end -->

   </main>
   <!-- main-area-end -->

   <!-- footer-area -->
   <footer>
      <div class="footer-area pt-105">
         <div class="tp-footer-top pb-25">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-6">
                     <div class="tp-footer-widget footer-2-col-1 mb-40 wow fadeInUp" data-wow-delay=".2s">
                        <div class="tp-footer-widget__content mb-95">
                           <i>FEEL FREE TO CONTACT US</i>
                           <h4 class="tp-footer-widget__contact mb-20"><a href="tel:61383766284">+91 99887 76655</a>
                           </h4>
                           <a href="mailto:noreply@envato.com">info@sunmasgroups.com</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="tp-footer-widget footer-2-col-2 mb-40 wow fadeInUp" data-wow-delay=".4s">
                        <span class="tp-footer-widget__title mb-15">Useful links</span>
                        <div class="tp-footer-widget__links mb-35">
                           <ul>
                              <li><a href="contact.html">About us</a></li>
                              <li><a href="about.html">Services</a></li>
                              <li><a href="shop-details.html">Blog</a></li>
                              <li><a href="#">Careers</a></li>
                              <li><a href="services-details.html">Contact Us</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6">
                     <div class="tp-footer-widget footer-2-col-3 mb-40 wow fadeInUp" data-wow-delay=".6s">
                        <span class="tp-footer-widget__title mb-15">Services</span>
                        <div class="tp-footer-widget__links">
                           <ul>
                              <li><a href="#">Seawarage</a></li>
                              <li><a href="#">Industrial</a></li>
                              <li><a href="#">Municipal</a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="tp-footer-widget footer-2-col-4 mb-40 wow fadeInUp" data-wow-delay=".8s">
                        <span class="tp-footer-widget__title mb-15">Contact Info</span>
                        <div class="tp-footer-widget__links mb-120">
                           <ul>
                              <li><%= contactData.title %></li>
                              <li><a href="tel:(+880)15569569365"><%= contactData.number %></a></li>
                              <li><a href="mailto:support@rstheme.com"><%= contactData.website %></a></li>
                              <li><%= contactData.timing %></li>
                              <li><%= contactData.days %></li>
                           </ul>
                        </div>
                        <div class="tp-footer-widget__social fw-social">
                           <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                           <a href="#"><i class="fa-brands fa-twitter"></i></a>
                           <a href="#"><i class="fa-brands fa-instagram"></i></a>
                           <a href="#"><i class="fa-light fa-basketball"></i></a>
                           <a href="#"><i class="fa-brands fa-youtube"></i></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-area-bottom fw-border">
            <div class="container">
               <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                     <div class="footer-widget__copyright copyright-white">
                        <span> © Copyright ©2023<a href="index.html"> Sunmas Technologies</a>. <i>All Rights
                              Reserved</i></span>
                     </div>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-12">
                     <div class="footer-widget__copyright-info info-direction">
                        <ul class="d-flex align-items-center">
                           <li><a href="#">Terms and conditions</a></li>
                           <li><a href="#">Privacy policy</a></li>
                           <li><a href="#">Quotation</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <!-- footer-area-end -->

   <!-- JS here -->
   <script src="assets/js/jquery.js"></script>
   <script src="assets/js/waypoints.js"></script>
   <script src="assets/js/bootstrap.bundle.min.js"></script>
   <script src="assets/js/swiper-bundle.js"></script>
   <script src="assets/js/slick.js"></script>
   <script src="assets/js/magnific-popup.js"></script>
   <script src="assets/js/counterup.js"></script>
   <script src="assets/js/wow.js"></script>
   <script src="assets/js/isotope-pkgd.js"></script>
   <script src="assets/js/imagesloaded-pkgd.js"></script>
   <script src="assets/js/ajax-form.js"></script>
   <script src="assets/js/aos.js"></script>
   <script src="assets/js/meanmenu.js"></script>
   <script src="assets/js/nice-select.js"></script>
   <script src="assets/js/jquery.appear.js"></script>
   <script src="assets/js/jquery.knob.js"></script>
   <script src="assets/js/main.js"></script>
</body>

</html>